@model  ShoppingCart.ViewModels.IndexViewModel

<br/>
<div class="backgroundwhite container">
    @foreach (var category in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_CategoryMenu" model=" category"/>
        </div>
    }
</div>